<h1>Listing All Orders</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Cart ID</th>
    <th>Shopper</th>
    <th>Shopkeepers</th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.id %></td>
    <td><%= order.cart.id %></td>
    <td><%= order.cart.shopper.email %></td>
    <td><% order.shopkeepers.each do |shopkeeper|%><%=shopkeeper.email + " " %><%end%></td>
    <td></td>
  </tr>
<% end %>
</table>

<h1>Listing All Orders for <%=@shopkeeper.email%></h1>
<table>
  <tr>
    <th>Order ID</th>
    <th>Shopper</th>
    <th>Items</th>
    <th></th>
  </tr>

<% @shopkeeper_orders.each do |order| %>
  <tr>
    <td><%= order.id %></td>
    <td><%= order.cart.shopper.email %></td>
    <td><% order.items.each do |item|%><%=item.name + " " %><%end%></td>
    <td></td>
  </tr>
<% end %>
</table>