<h1>Listing <%= current_user.email %>'s Cart</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td>$<%= item.price %></td>
    <td><%= item.quantity %></td>
    <td><%= link_to 'Show', item %></td>
  </tr>
<% end %>
</table>

<br />